<% provide(:title, 'Eating, Deadlifting and Starting Up') %>
<% @articles.each do |article| %>
<h2> <%= article.title %> </h2>
<p> <%= article.text[0,140] + ("...") %> </p>
<table>
<tr>
  <td> <%= link_to 'Continue Reading', article_path(article) %> </td>
</tr>
</table>
<% end %>
      