<% provide(:title, "The United States Greatest Youth?") %>
<section class="row">
	<div class="clientblock-top1">
		<%= image_tag("customer-img-1.jpg", :class => "img-padding", :alt => "EV's handsome headshot") %>
	    <p><strong>EV</strong><br>
	      Future better looking Mr. Zuckerburg</p>
	</div>
	<div class="testblock">
		EV recently graduated college with his GPA firmly seated in the center of the bell curve.  In college he was able to hone his Software Design skills while also having time to drastically improve his deadlift.  He is currently a co-founder of his own company and has vivid dreams of making it rich, his backup plans include being a professional athlete, or a male model.  
	</div>

	<div class="clientblock"> 
		<%= image_tag("customer-img-2.jpg", :class => "img-padding", :alt => "Kay's gorgeous face") %>
	    <p><strong>Kay</strong> <br>
	      Future CEO of Kay's Big Ass Sushi</p>
	</div>
	<div class="testblock">
	 	Kay, while still in college, is an entrepreneur at heart and finds meaning in bringing concepts and ideas to life. He spends his free time deadlifting heavy objects and creating (and then eating) new sushi concepts for his future restaurant.  Kay loves to make his own rules and always tries to disrupt the status quo.  Possibly the only thing he likes more than deadlifting is being an entrepreneur.  </div>
	</div>
</section>