<!-- Footer Starts -->
<section class=" breath sub-footer">
	<div class="col-md-12 footerlinks"> 
	  	<%= link_to "Home", root_path %>
	  	<%= link_to "About", about_path %>
		<%= link_to "Contact", root_path %>
	 	<p>&copy; Just two startup guys</p>
	</div>
</section>
<!-- // End Footer and Logos --> 