<!-- Footer Starts -->
<section class=" breath sub-footer">
	<div class="col-md-12 footerlinks"> 
	  	<a href="#explore">About</a> 
	  	<a href="#contact">Contact</a> 
	 	<p>&copy; 2014 Mango LLC. All Rights Reserved</p>
	</div>
</section>
<!-- // End Footer and Logos --> 