<div class="header clearfix">
	<%= link_to image_tag("suddenstartlogo.png", class: "source-image", alt: "Sudden start entrepreneur blog"), root_path %> 
	<div class="nav">
		<input type="checkbox" id="toggle" />
		<label for="toggle" class="toggle" onclick></label>
		<ul class="menu clearfix">
			<li><%= link_to "HOME", root_path %></li>
			<li><%= link_to "ABOUT", about_path %></li>
			<li><%= link_to "CONTACT", contacts_path %></li>	
		</ul>
	</div><!-- End of Navigation -->
</div>


